@using Assignment_Asp.net_cor_03.ViewModels;
@model EmployeeViewModel ;
@{
    ViewData["Title"] = "Create";
}

<h1>Create new Department</h1>
<br />
<br />
<form asp-action="Create" enctype="multipart/form-data">
    <partial name="PartialView/CreateEditPartiolView" />
    <input type="submit" value="Submit" class="btn btn-primary" /> ||
    <a asp-action="Index" class=" btn btn-primary">Back to list</a>
</form>
@section validationScriptSection{
    <partial name="_ValidationScriptsPartial"/>
    }
